*{
  margin: 0px;
  padding: 0px;
}
.titulo{
  color: #f72585;
  text-align:center;
  margin: 15px; /*sobre escribe al elemento * porque es una etiqueta particular*/
}
h2{
  color: #3f37c9;
 
}
p{
  color: #457b9d;
}
/*clase en css. se puede aplicar a cualquier etiqueta html*/
.tarjeta{
  border: 10px solid #560bad;
  background-color: #f1faee;
  text-align: center;
}
